<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Use | Image Editor</title>
    <!-- Bootstrap CSS -->
    
</head>
<body>
    {% include 'nav.html' %}
    <main class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">How to Use Image Editor</h1>
                <p class="card-text">Follow these steps to use our Image Editor:</p>
                <ol>
                    <li>Upload your image by clicking on the "Upload Image" button.</li>
                    <li>Choose the desired output format (PNG, JPG, WEBP).</li>
                    <li>Click on the "Convert" button to start the conversion process.</li>
                    <li>Once the conversion is complete, you can download converted image only webp because other are under process you can see them as jpg, png but download is not provided.</li>
                </ol>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
    <!-- Bootstrap JS and dependencies -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="scripts.js"></script>
</body>
</html>
